version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=student
      - RABBITMQ_DEFAULT_PASS=student
    networks:
      - iot-net
    restart: on-failure

  predictor:
    build:
      context: ./Task_3_Cloud_VM
      dockerfile: Dockerfile
    container_name: pm25-predictor
    environment:
      # Predictor talks to RabbitMQ in the SAME compose, so 'rabbitmq' works here
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_QUEUE=pm25_daily_avg
      - RABBITMQ_USER=student
      - RABBITMQ_PASSWORD=student
    depends_on:
      - rabbitmq
    networks:
      - iot-net
    restart: on-failure

networks:
  iot-net:
    external: true
